doctype html
html
    head
        title #{title}
        link(rel="stylesheet" href="/static/style/home.css")
    body
        p #{message}
        span #{time}

        each element, i in time
            p(value=i) #{element}